<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Name - OpenOnDemand</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>

<body>
  <header>
    <!-- Put navbar here -->
  </header>
  <div class="container">
    <br>
    <!-- Put output of terminal command here -->
     <%= @output %>
  </div>
</body>
</html>